.card {
     padding: 2rem;
     border: 1px solid #ddd;
     border-radius: 4px;
     min-width: 312px;
     max-width: 312px;
     /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
     margin-bottom: 1rem;
     border-radius: 20px;
     font-family: "Poppins";
     display: flex;
     flex-direction: column;
     background-color: white;
   }
   
   .cardheader {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 10%;
     align-items: left;
     /* background-color: red; */
   }

   
  .cardMainSection{
    height: 60%;    
    /* background-color: yellow; */
  }

   .cardfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    height: 100%;    
    /* background-color: green; */
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    text-align: center;
   }

   .dot{
    height: var(--dot-height);
    width: var(--dot-height);
    border-radius: 50%;
    display: inline-block;
  }
  .dotColor {
    background-color: var(--dot-color, #bbb);
  }
  .collapsible{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 8%;
 }
  
  .prioritybar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

   .task-title {
     font-weight: bold;
     font-size: 1.2rem;
   }
   
   .priority {
    
     display: flex;
     text-transform: uppercase;
     font-weight: 400;
     font-size: 10px;
     text-align: left;
     column-gap: 1cap;          
   }
   
   
   .task-details {
     font-size: 0.9rem;
   }
  

   .cardMainSectionbanner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   
   .checklist-item {
     margin-bottom: 0.25rem;
   }

   .validity{
    padding: 0.9rem;
    background-color: #CF3636;
    color: white;
    /* font-size: 14px; */
    border-radius:0.9em; 
   }

   .statusList{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
   }

   .statusItem{
    border: #EEECEC 1px solid;
    background-color: #EEECEC;
    border-radius: 8px;
    font-weight: 500;
    color: #767575;
    padding: 0.5em;
    text-align: center;
    text-wrap: balance;
    text-size-adjust: inherit;
   }