
.todoModalContent {
     position: relative;
     background-color: transparent;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: space-between;
     height: auto;
     border-radius: 20px;
   }
   
   /* Add Animation */
   @-webkit-keyframes animatetop {
     from {
       top: -300px;
       opacity: 0;
     }
     to {
       top: 0;
       opacity: 1;
     }
   }
   
   @keyframes animatetop {
     from {
       top: -300px;
       opacity: 0;
     }
     to {
       top: 0;
       opacity: 1;
     }
   }
   
.taskHeader {
  text-align: start;
  font-weight: 500;
  font-size: 20px;
}

   .taskInput {
     margin-top: 5px;
     padding: 10px;
     width: 95%;
     height: auto;
     border-radius: 5px;
     border: 2px solid #cccfca;
   }
   
   .priorityContainer {
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: space-around;
     width: 100%;
   }
   
   .addTask {
     height: 200px;
     margin-top: 10px;
   }
   
   .addTaskContainer {
     border-radius: 5px;
     border: 2px solid #cccfca;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }
   
   .buttonContainer {
     display: flex;
     flex-direction: row;
     
     justify-content: space-between;
   }
   
  
   
   /* The Close Button */
   .close {
     color: white;
     float: right;
     font-size: 28px;
     font-weight: bold;
   }
   
   .close:hover,
   .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
   }
   
   .modalHeader {
     padding: 2px 16px;
     background-color: #5cb85c;
     color: white;
   }
   
   /* .dotCircle {
   } */
   
   .modalContainer {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .modalFooter {
     padding: 2px 16px;
     background-color: #5cb85c;
     color: white;
   }
   
   
.taskPriorityContent {
  border: 2px solid #d3d5d1;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  width: auto;
  height: 2em;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 1ch;
  color: #767575;
  font-weight: 500;
  cursor: pointer;
}

.todoSection{
  margin: 1vh 0px;
  width: 100%;
  height: auto;
}

.addedTaskItem{
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: #E2E2E2 2px solid;
  border-radius: 12px;
  height: 44px;
  width: 100%;
  column-gap: 3ch;
  padding:  0px 10px;
}

.addedTaskList >li{
  list-style-type: none
}
.addedTaskItem #id :focus {     
  background-color:yellow;    
}

.datepicker{
  display: unset;
}